<launch>
    <arg name = "talker_rate" default = "5" />
    <node
      name="talker"
      pkg="beginner_tutorials"
      type="talker"
      launch-prefix="xterm -e"
      respawn ="true"
      args="$(arg talker_rate)"     
    />
    <node
      name="listener"
      pkg="beginner_tutorials"
      type="listener"
      launch-prefix="xterm -e"
      respawn ="true"
    />
</launch>
