<launch>
    <arg name = "talker_rate" default = "5" />
    <arg name = "rosbag_record" default = "0" />
    <node
      name="talker"
      pkg="beginner_tutorials"
      type="talker"
      launch-prefix="xterm -e"
      respawn ="true"
      args="$(arg talker_rate)"     
    />
    <node
      name="listener"
      pkg="beginner_tutorials"
      type="listener"
      launch-prefix="xterm -e"
      respawn ="true"
    />
    <group if = "$(arg rosbag_record)">
    <node
	  pkg="rosbag"
	  name="record"
	  type="record"
	  args="-a -O rosbag_beginner_tutorials.bag --duration=20"
	/>
	</group>
</launch>
